body {
    color: rgb(0 0 102);
    background: rgb(252 239 247);
    margin: 9px
}

header {
    color: coral;
    border-bottom: solid 3px burlywood;
    margin-right: 600px;
    padding-left: 20px;
    padding-top: 10px;
    font-family: "Oswald", sans-serif;
    font-size: 27px;
}

section {
    background: rgb(219, 171, 200);
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    font-family: "Cairo", sans-serif;
}

.chamada-texto {
    margin-right: 2%;
}

h1 {
    font-size: 20px;
}

p {
    font-size: 15px;
}

img {
    height: 200px;
}

.video {
    padding-left: 20px;
    padding-right: 20px;
}

.videos-haha {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.h2 {
    margin-right: 2%;
}