body {
    color: rgb(71 155 219);
    background: rgb(252 239 247);
    margin: 9px
}

header{
    color: coral;
    border-bottom: solid 3px burlywood;
    margin-right: 720px;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 27px;
}

section{
    background:rgb(250 228 241);
    margin: 20px;
    padding: 10px;
}